@tailwind base;
@tailwind components;
@tailwind utilities;


.main-page {
    background: rgb(27, 27, 30);
    background: radial-gradient(circle, rgb(38, 38, 38) 0%, rgb(27, 27, 30) 100%);
    min-height: 100vh;
    
}

.glass-effect {
    @apply bg-gray-200 rounded-full bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border border-gray-100
}